calculus.tex
verse-conf/verse-conf.tex
verse-conf/rewrites.tex

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.log
*.out
*.pdf
*.bbl
*.blg
*.ptb
*~
tmp
\#*
.#*
bin/
.DS_Store
Machine/.DS_Store
Machine/src/.DS_Store
Machine/src/Control/.DS_Store
Machine/src/Control/Monad/.DS_Store
*.vsidx
*.db
*.db-shm
*.ipch
*.db-wal
*.opendb
*.json
Tim/TimVerse/.vs/Verse/v17/.suo
Tim/TimVerse/VerseReference-x64-Release
verse-densem-new/verse-densem.tex
