body {
    background-color: #eee8d5;
    max-width: 1200px;
    margin: 0px auto;
    padding: 5px;
    color: #073642;
    --keyword-color: #93a1a1;
    --name-color: LightGreen;
    --type-color: LightBlue;
    --no-value-color: Gray;
    --panel-background: #002b36;
}

h1 {
    font-family: 'Alex Brush', cursive;
    padding: 0px 10px;
}

#content {
    width: 100%;
    padding: 0px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 1.5rem;
}

.panel {
    padding: 1rem;
    box-sizing: border-box;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background: var(--panel-background);
    color: #efefef;
    font-size: 14px;
    overflow: auto;
}

.panel::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.panel::-webkit-scrollbar-track {
    border-radius: 10px;
}

.panel::-webkit-scrollbar-thumb {
  background-color: #93a1a1;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 3px solid #002b36;  /* creates padding around scroll thumb */
}

#in {
    resize: none;
    outline: none;
}

#out, #err {
    white-space: pre-wrap
}
