01-introduction.tex
02-languages.tex
03-preliminaries.tex
04-organization.tex
05-lemmas.tex
06-lambda-proof.tex
07-letrec-proof.tex
08-verse-proof.tex
09-wrapup.tex
skew-rewrites.tex
skew.fdb_latexmk
skew.tex
